# import all necessary libraries

In [84]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
import statsmodels.api as sm

# importing dataset uber rides

In [37]:
df=pd.read_csv(r'C:\Users\HOME\Downloads\uber_rides_data.xlsx - sample_train.csv')
df

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...
199995,42598914,3.0,2012-10-28 10:49:00 UTC,-73.987042,40.739367,-73.986525,40.740297,1
199996,16382965,7.5,2014-03-14 01:09:00 UTC,-73.984722,40.736837,-74.006672,40.739620,1
199997,27804658,30.9,2009-06-29 00:42:00 UTC,-73.986017,40.756487,-73.858957,40.692588,2
199998,20259894,14.5,2015-05-20 14:56:25 UTC,-73.997124,40.725452,-73.983215,40.695416,1
199999,11951496,14.1,2010-05-15 04:08:00 UTC,-73.984395,40.720077,-73.985508,40.768793,1

# for findinding the shape of the data set

In [38]:
df.shape

(200000, 8)

# finding missing values

In [39]:
df.isna().sum()

ride_id              0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    1
dropoff_latitude     1
passenger_count      0
dtype: int64

# for finding the data frame of the data set we use info()

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            200000 non-null  int64
 1   fare_amount        200000 non-null  float64
 2   pickup_datetime    200000 non-null  object
 3   pickup_longitude   200000 non-null  float64
 4   pickup_latitude    200000 non-null  float64
 5   dropoff_longitude  199999 non-null  float64
 6   dropoff_latitude   199999 non-null  float64
 7   passenger_count    200000 non-null  int64
dtypes: float64(5), int64(2), object(1)
memory usage: 12.2+ MB

In [85]:
df.dropna(inplace = True)

In [86]:
df.describe()

,ride_id,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,ride_week_day,haversine_distance
count,1.999990e+05,199999.000000,199999.000000,199999.000000,199999.000000,199999.000000,199999.000000,199999.000000,199999.000000
mean,2.771248e+07,11.359892,-72.527631,39.935881,-72.525292,39.923890,1.684543,3.048435,20.855350
std,1.601386e+07,9.901760,11.437815,7.720558,13.117408,6.794829,1.385995,1.946946,382.964642
min,1.000000e+00,-52.000000,-1340.648410,-74.015515,-3356.666300,-881.985513,0.000000,0.000000,0.000000
25%,1.382534e+07,6.000000,-73.992065,40.734796,-73.991407,40.733823,1.000000,1.000000,1.215222
50%,2.774524e+07,8.500000,-73.981823,40.752592,-73.980093,40.753042,1.000000,3.000000,2.120992
75%,4.155535e+07,12.500000,-73.967154,40.767158,-73.963659,40.768001,2.000000,5.000000,3.875169
max,5.542357e+07,499.000000,57.418457,1644.421482,1153.572603,872.697628,208.000000,6.000000,16409.239135

# there are 2 integer columns in data set

# syntax to convert 'pickup_datetime' to datetime datatype?

In [42]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

In [43]:
df

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06+00:00,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56+00:00,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00+00:00,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21+00:00,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00+00:00,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...
199995,42598914,3.0,2012-10-28 10:49:00+00:00,-73.987042,40.739367,-73.986525,40.740297,1
199996,16382965,7.5,2014-03-14 01:09:00+00:00,-73.984722,40.736837,-74.006672,40.739620,1
199997,27804658,30.9,2009-06-29 00:42:00+00:00,-73.986017,40.756487,-73.858957,40.692588,2
199998,20259894,14.5,2015-05-20 14:56:25+00:00,-73.997124,40.725452,-73.983215,40.695416,1
199999,11951496,14.1,2010-05-15 04:08:00+00:00,-73.984395,40.720077,-73.985508,40.768793,1

# code for removing na values

In [49]:
df.dropna()

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,ride_week_day
0,24238194,7.5,2015-05-07 19:52:06+00:00,-73.999817,40.738354,-73.999512,40.723217,1,3
1,27835199,7.7,2009-07-17 20:04:56+00:00,-73.994355,40.728225,-73.994710,40.750325,1,4
2,44984355,12.9,2009-08-24 21:45:00+00:00,-74.005043,40.740770,-73.962565,40.772647,1,0
3,25894730,5.3,2009-06-26 08:22:21+00:00,-73.976124,40.790844,-73.965316,40.803349,3,4
4,17610152,16.0,2014-08-28 17:47:00+00:00,-73.925023,40.744085,-73.973082,40.761247,5,3
...,...,...,...,...,...,...,...,...,...
199995,42598914,3.0,2012-10-28 10:49:00+00:00,-73.987042,40.739367,-73.986525,40.740297,1,6
199996,16382965,7.5,2014-03-14 01:09:00+00:00,-73.984722,40.736837,-74.006672,40.739620,1,4
199997,27804658,30.9,2009-06-29 00:42:00+00:00,-73.986017,40.756487,-73.858957,40.692588,2,0
199998,20259894,14.5,2015-05-20 14:56:25+00:00,-73.997124,40.725452,-73.983215,40.695416,1,2
199999,11951496,14.1,2010-05-15 04:08:00+00:00,-73.984395,40.720077,-73.985508,40.768793,1,5

# average fareamount

In [50]:
average_fare_amount = df['fare_amount'].mean()

In [51]:
print("Average Fare Amount:", average_fare_amount)

Average Fare Amount: 11.359955250000002

In [78]:
import math
 
def haversine(lat1, lon1, lat2, lon2):
 
    dLat = (lat2 - lat1) * math.pi / 180.0
    dLon = (lon2 - lon1) * math.pi / 180.0
 
    lat1 = (lat1) * math.pi / 180.0
    lat2 = (lat2) * math.pi / 180.0
 
    # apply formulae
    a = (pow(math.sin(dLat / 2), 2) +
         pow(math.sin(dLon / 2), 2) *
             math.cos(lat1) * math.cos(lat2));
    rad_earth = 6371
    c = 2 * math.asin(math.sqrt(a))
    return rad_earth * c

In [79]:
df_temp = df[['pickup_latitude','pickup_longitude','dropoff_latitude','dropoff_longitude']]

In [80]:
df_temp

        pickup_latitude  pickup_longitude  dropoff_latitude  dropoff_longitude
0             40.738354        -73.999817         40.723217         -73.999512
1             40.728225        -73.994355         40.750325         -73.994710
2             40.740770        -74.005043         40.772647         -73.962565
3             40.790844        -73.976124         40.803349         -73.965316
4             40.744085        -73.925023         40.761247         -73.973082
...                 ...               ...               ...                ...
199995        40.739367        -73.987042         40.740297         -73.986525
199996        40.736837        -73.984722         40.739620         -74.006672
199997        40.756487        -73.986017         40.692588         -73.858957
199998        40.725452        -73.997124         40.695416         -73.983215
199999        40.720077        -73.984395         40.768793         -73.985508

[200000 rows x 4 columns]

In [81]:
df['haversine_distance'] = df_temp.apply(lambda x: haversine(x.pickup_latitude,x.pickup_longitude,x.dropoff_latitude,x.dropoff_longitude),axis = 1)

In [82]:
### Haversine median distance
df['haversine_distance'].median()

2.1209923961838655

# maximum haversine distance between pickup and dropoff location according to the given dataset

In [53]:
max_haversine_distance = df['haversine_distance'].max()

In [54]:
print("Maximum Haversine Distance:", max_haversine_distance, "kilometers")

Maximum Haversine Distance: 16409.239135313168 kilometers

# haversine distance between pickup and dropoff location according to data set

In [55]:
zero_distance_rides = df[df['haversine_distance'] == 0.0]
count_zero_distance_rides = zero_distance_rides.shape[0]

In [56]:
print("Number of rides with 0.0 Haversine distance:", count_zero_distance_rides)

Number of rides with 0.0 Haversine distance: 5632

# mean 'fare_amount' for rides with 0 haversine distance

In [57]:
zero_distance_rides = df[df['haversine_distance'] == 0.0]

In [58]:
mean_fare_amount_zero_distance = zero_distance_rides['fare_amount'].mean()
print("Mean 'fare_amount' for rides with 0.0 Haversine distance:", mean_fare_amount_zero_distance)

Mean 'fare_amount' for rides with 0.0 Haversine distance: 11.585317826704546

# maximum 'fare_amount' for a ride

In [59]:
max_fare_amount = df['fare_amount'].max()

In [60]:
print("Maximum 'fare_amount' for a ride:", max_fare_amount)

Maximum 'fare_amount' for a ride: 499.0

# haversine distance between pickup and dropoff location for the costliest ride

In [61]:
costliest_ride = df[df['fare_amount'] == df['fare_amount'].max()]
costliest_ride_distance = haversine(costliest_ride['pickup_latitude'].values[0], costliest_ride['pickup_longitude'].values[0], 
                                    costliest_ride['dropoff_latitude'].values[0], costliest_ride['dropoff_longitude'].values[0])
print("Haversine distance for the costliest ride:", costliest_ride_distance, "kilometers")

Haversine distance for the costliest ride: 0.0007899213191009994 kilometers

# rides recorded in 2014

In [62]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
rides_2014 = df[df['pickup_datetime'].dt.year == 2014]
count_rides_2014 = rides_2014.shape[0]
print("Number of rides recorded in the year 2014:", count_rides_2014)

Number of rides recorded in the year 2014: 29968

# rides recorded in first quarter of 2014

In [63]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
rides_first_quarter_2014 = df[(df['pickup_datetime'].dt.year == 2014) & (df['pickup_datetime'].dt.quarter == 1)]
count_rides_first_quarter_2014 = rides_first_quarter_2014.shape[0]
print("Number of rides recorded in the first quarter of 2014:", count_rides_first_quarter_2014)

Number of rides recorded in the first quarter of 2014: 7687

# maximu rides recoded in september 2010 & on which day in a week

In [64]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
rides_september_2010 = df[(df['pickup_datetime'].dt.year == 2010) & (df['pickup_datetime'].dt.month == 9)]
rides_by_day_of_week = rides_september_2010['pickup_datetime'].dt.day_name().value_counts()
max_rides_day = rides_by_day_of_week.idxmax()
max_rides_count = rides_by_day_of_week.max()
print("On which day of the week in September 2010, maximum rides were recorded:")
print("Day:", max_rides_day)
print("Number of rides:", max_rides_count)

On which day of the week in September 2010, maximum rides were recorded:
Day: Thursday
Number of rides: 457

# model buliding and finding the est algorithm

In [74]:
df['ride_week_day']=df['pickup_datetime'].dt.weekday

In [75]:
X,y = df[['passenger_count', 'haversine_distance', 'ride_week_day']],df['fare_amount']

In [76]:
X_train, X_test, y_train, y_test = train_test_split(X,y,
                                                   test_size = 0.3,
                                                   random_state = 42)

# Linear regression model

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
reg_model = LinearRegression()
reg_model.fit(X_train,y_train)
y_predicted = reg_model.predict(X_test)
r2_linear = r2_score(y_test,y_predicted)
print(r2_linear)

# Decision Tree Classifier won't work for our data as target is continuous. We go with Decision Tree Regressor¶

In [ ]:
from sklearn.tree import DecisionTreeRegressor
dregressor = DecisionTreeRegressor()
dregressor.fit(X_train, y_train)
y_pred = dregressor.predict(X_test)
r2_dt = r2_score(y_test,y_pred)
print(r2_dt)